body{
  margin:0;
  font-family:Arial;
  background:#557d5e;
  color:white;
  }
  
  header{
  display:flex;
  justify-content:space-between;
  
  padding:20px;
  
  background:#7688a1;
  }
  
  .games{
  display:flex;
  
  gap:20px;
  
  padding:40px;
  }
  
  .card{
  background:#a7b2c3;
  
  padding:30px;
  
  border-radius:20px;
  
  width:200px;
  
  transition:0.3s;
  }
  
  .card:hover{
  transform:scale(1.05);
  
  background:#4b5563;
  }
  
  button{
  
  background:#96b6e8;
  
  color:rgb(238, 212, 236);
  
  border:none;
  
  padding:10px 20px;
  
  border-radius:10px;
  
  cursor:pointer;
  }
  
  button:hover{
  background:#f391f9;
  }