body{
  margin:0;
  font-family:Arial;
  background:#82eaff;
  color:white;
  }
  
  header{
  display:flex;
  justify-content:space-between;
  
  padding:20px;
  
  background:hsl(190, 100%, 38%);
  }
  
  .games{
  display:flex;
  
  gap:20px;
  
  padding:40px;
  }
  
  .card{
  background:#647998;
  
  padding:30px;
  
  border-radius:20px;
  
  width:200px;
  
  transition:0.3s;
  }
  
  .card:hover{
  transform:scale(1.05);
  
  background:#203451;
  }
  
  button{
  
  background:#c7d7f1;
  
  color:rgb(0, 0, 0);
  
  border:none;
  
  padding:10px 20px;
  
  border-radius:10px;
  
  cursor:pointer;
  }
  
  button:hover{
  background:#f391f9;
  }